<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net461" />
  <package id="OpenTK" version="1.1.2349.61993" targetFramework="net461" />
  <package id="SharpDX" version="3.0.2" targetFramework="net461" />
  <package id="SharpDX.D3DCompiler" version="3.0.2" targetFramework="net461" />
  <package id="SharpDX.Desktop" version="3.0.2" targetFramework="net461" />
  <package id="SharpDX.Direct3D12" version="3.0.2" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="3.0.2" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="3.0.2" targetFramework="net461" />
  <package id="SharpFont" version="3.1.0" targetFramework="net46" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net46" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>