[submodule "dep/Nine.Imaging"]
	path = dep/Nine.Imaging
	url = https://github.com/studio-nine/Nine.Imaging.git
[submodule "dep/Nine.Geometry"]
	path = dep/Nine.Geometry
	url = https://github.com/studio-nine/Nine.Geometry.git
[submodule "dep/Nine.Injection"]
	path = dep/Nine.Injection
	url = https://github.com/studio-nine/Nine.Injection.git
